<form id="friend-add-window" class="ui-widget-content js-friend-form">
    <label class="friend-form-header">ADD FRIEND BY ID</label>
    <input type="text" class="friend-id form-control" placeholder="USER ID" ng-model="curFriend.id" >
    <!--<input type="text" class="friend-id form-control" placeholder="User id" ng-model="curRoute.name">-->

    <div id="route-controls" class="form-inline">
        <label id="save-friend" class="btn btn-link" ng-click="addFriend()">ADD</label>
        <label id="clear-friend" class="btn btn-link">CANCEL</label>
    </div>
</form>