<form id="friend-add-window" class="ui-widget-content js-friend-form">
    <label class="friend-form-header">ADD FRIEND</label>
    <div id="friend-list-wrapper">
        <input type="text" class="friend-id form-control" placeholder="USER NAME" ng-model="curFriend.name">
        <input type="text" class="friend-id form-control" placeholder="USER SURNAME" ng-model="curFriend.surname">
        <label id="find-friend" class="btn btn-link" ng-click="findFriend()">FIND</label>

        <div class="friend-list">
                <div ng-repeat="u in findUsers">
                    <a href="/{{u.id}}" class="btn btn-link user-friend">
                        <div class="img" style="height: 50px; width: 50px; overflow: hidden; border-radius: 100px;"><img ng-src="{{u.imgSrc}}" class="round" style="width: 100%"/></div>
                        <div class="name" style="display: inline-block;">{{u.surname}} {{u.name}}</div></a>
                    <!--<label class="">{{u.surname}} {{u.name}}</label>-->
                    <i class="fa fa-plus add-friend" ng-click="addFriend(u.id, removeFormFriend)"></i>
                </div>
        </div>

    </div>

    <div id="route-controls" class="form-inline">
        <label id="clear-friend" class="btn btn-link">CANCEL</label>
    </div>
</form>