<form id="route-edit-window" class="ui-widget-content js-route-form">
  <label class="route-form-header">ADD/EDIT ROUTE</label>
  <input type="text" class="route-name form-control" placeholder="ROUTE NAME" ng-model="curRoute.name">

  <div id="points-list-wrapper" style="overflow: auto">
    <label>Points:</label>
    <div>
      <div class="panel-group" ng-repeat = "point in curRoute.points">
          <div class = "panel points" ng-controller="MapCtrl">
            <div style="display: inline-block; width: 200px;">
            <span class="point_position">{{point.position}}. </span>
              <input type="text" id="change-{{point.id}}" class="changePoint" ng-model="point.name"/>
              <span class="point_lattitude" id="span-{{point.id}}">{{point.name}}</span>
            </div>
            <submit class="fa fa-save hide_default_css" id="saveChange-{{point.id}}" ng-click="saveChangePoint(point.id)" style="display: none"></submit>
            <i class="fa fa-pencil darkgreen" id="editPoint-{{point.id}}" ng-click="changePointName(point.id,point.name)"></i>
            <i class="fa fa-times remove-route" ng-click="removePoint($event)"></i>
          </div>
      </div>
    </div>
    </div>
    <!--<div id="points-list">-->
      <!--<uib-accordion close-others="true">-->
        <!--<uib-accordion-group heading="{{point.position}}" ng-repeat="point in curRoute.points">-->
          <!--<div class="point-controls">-->
            <!--<label class="btn btn-danger" ng-click="removePoint($event)">DELETE</label>-->
          <!--</div>-->
        <!--</uib-accordion-group>-->
      <!--</uib-accordion>-->
    <!--</div>-->
  <!--</div>-->

  <div id="route-controls" class="form-inline">
    <label id="save-route" class="btn btn-link" ng-click="saveRoute(curRoute, removeForm)">SAVE</label>
    <label id="clear-route" class="btn btn-link">CANCEL</label>
  </div>
</form>