html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

#profile p {
	margin: 0;
}

#profile label {
	display: block;
	color:#bbb;
}

#profile dt {
	color:#bbb;
}

#profile dd {
	color:#999
}

#wrapper {
	width: 100%;
	height: 100%;
}

#main {
	width: 100%;
	height: 100%;
}

.wrap {
	position: relative;
	width: 100%;
	height: 100%;
    overflow: hidden;
}

#menu-toggle {
	position: absolute;
	z-index: 99;
}

.btn-add {
	position: fixed;
	top: 91.4%;
	left: 90%;
	z-index: 99;
	color: #00AA00;
	cursor: pointer;
}

#route-edit-window {
	position: fixed;
	top: 15%;
	left: 75%;
	z-index: 99;
	background-color: white;
	border: 2px solid #CCCCCC;
	display: block;
	height: 500px;
	width: 280px;
}

#point-input {
	position: relative;
	margin-top: 10px;
	margin-left: 10px;
	width: auto;
}

#points-list-wrapper {
	margin-top: 10px;
	margin-left: 10px;
	width: 90%;
	height: 75%;
	overflow: hidden;
}

#route-controls {
	margin-left: 20%;
}

#gmap {
	width: 100%;
	height: 100%;
}
.angular-google-map {
	width: 100%;
	height: 100%;
}
.angular-google-map-container {
	margin: auto;
	width: 100%;
	height: 100%;
}