html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

#profile p {
	margin: 0;
}

#profile label {
	display: block;
	color:#bbb;
}

#profile dt {
	color:#bbb;
}

#profile dd {
	color:#999
}

#wrapper {
	width: 100%;
	height: 100%;
}

#main {
	width: 100%;
	height: 100%;
}

.wrap {
	position: relative;
	width: 100%;
	height: 100%;
    overflow: hidden;
}

#menu-toggle {
	position: absolute;
	z-index: 99;
}

.route-menu-controls, .user-menu-controls {
	display: flex;
}

.remove-route {
	cursor: pointer;
	color: red;
	margin-top: 11px;
}

#route-edit-window {
	position: fixed;
	top: 15%;
	left: 75%;
	z-index: 99;
	background-color: white;
	border: 2px solid #CCCCCC;
	border-radius: 20px;
	display: block;
	height: 500px;
	width: 280px;
}

.modal-content {
	margin-top: 50%;
}

.deletion-modal {
	height: 100px;
}

.deletion-modal > label {
	margin-top: 20px;
	margin-left: 50px;
}

.deletion-modal .modal-controls {
	margin-top: 10px;
	margin-left: 100px;
}

.route-form-header {
	margin-left: 28%;
	margin-top: 10px;
}

#route-edit-window .route-name {
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

#point-input {
	position: relative;
	margin-top: 10px;
	margin-left: 10px;
	width: auto;
}

#points-list-wrapper {
	margin-top: 10px;
	margin-left: 10px;
	width: 255px;
	height: 370px;
	overflow: hidden;
}

#points-list {
	height: 302px;
	overflow: auto;
}

#save-route {
	margin-left: 18%;
}

#clear-route {
	margin-left: 10%;
}

.point-controls {
	display: table-caption;
}

.point-controls label {
	margin-bottom: 5px;
	width: 120px;
}

#routes label {
	display: block;
	color: #CCCCCC;
	width: 80%;
	text-align: left;
}

.add-route-btn {
	width: 120px!important;
	margin-left: 32px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 0;
}

#gmap {
	width: 100%;
	height: 100%;
}
.angular-google-map {
	width: 100%;
	height: 100%;
}
.angular-google-map-container {
	margin: auto;
	width: 100%;
	height: 100%;
}