<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Title</title>
    <script type="text/javascript" th:src="@{/resources/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/jquery.form.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/users.js}"></script>
    <link rel="stylesheet" th:href="@{/resources/css/users.css}"/>
</head>
<body>
<ul>
    <li th:each="p: ${point}">
        <span th:text="${p.x}"/>
        <span th:text="${p.y}"/>
    </li>

</ul>
<hr/>
<div class="add_point" method='post' action='/addPoints'>
    X: <input type="text" name="x"/><br/>
    Y: <input type="text" name="y"/><br/>
    <!--<input name="userId" type="hidden" th:value="${user.id}"/>-->
    <input class="add_point_submit" type="submit" value="Add"/>
</div>

</body>
</html>